<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aliff.bookingsystemcomputerservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Customer_LoginActivity" />
        <activity android:name=".Admin_login" />
        <activity android:name=".Customer_Main_menu" />
        <activity android:name=".Customer_register" />
        <activity android:name=".Admin_Main_menu" />
        <activity android:name=".Chat_Room1" />
        <activity android:name=".Chat_Room2" />
        <activity android:name=".BookingServiceMenu" />
        <activity android:name=".Profile_Customer" />
        <activity android:name=".Profile_Admin" />
        <activity android:name=".Admin_register" />
        <activity android:name=".Booking_Service" />
        <activity android:name=".New_Booking" />
        <activity android:name=".bookingsList" />
        <activity android:name=".displayBooking" />
        <activity android:name=".inventory_list" />
        <activity android:name=".inventory_form" />
        <activity android:name=".CustomerInvoice" />
        <activity android:name=".Manage_Financial" />
        <activity android:name=".FinancialInventoryInvoice"></activity>
    </application>

</manifest>